.teste{
position: fixed;
    background-color: black;

    z-index: 999;
   inset: 0;
}

.modal {
    width: 25%;
    height: 40rem;
    background-color: rgb(21, 18, 76);
    margin: auto;
    border: 3px solid rgb(160, 160, 160);
    border-radius: 1.5rem;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}